$base-color : #f7901e;
$base-color1 : #255b69;
$font-color: #231f20;
$break-ipadP : 768px;
$break-ipad : 992px;
$break-desk : 1278px;
$font-head : 'HelveticaNeue-CondensedBold';
$font: Arial;
$header-color: #013b42d9;
$page-width: 1200px;
